/* _baseStyles.scss */
// apply the most frequently or gloablly - margin/padding, font size, img, wrapper, ul, a.

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1400px;
    width: 77%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flexContainer {
    display: flex;
}

.button {
    background-color: $secondary;
    display: inline-block;
    margin: 20px 0;
    padding: 11px 22px 5px 22px;
}

.newLine {
    display: block;
}

input, textarea {
    // font-family: ;
    &::placeholder {
        color: $solidBlack;
        opacity: 1;
        line-height: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
}


input {
    width: 47.5%;
    border: none;
    border-bottom: 2px solid $secondary;
}

textarea {
    border: 2px solid $secondary;
}

button {
    border: none;
}