/* _header.scss */
.wrapper {border:1px solid red}
header {
    background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: clamp(50px, 755 / 1600 * 100vw, 755px);
    background-size: cover;
    .flexContainer {
        justify-content: end;
    }
    .imgContainer {
        width: 55%;
    }
}

nav {
    width: 40%;
    min-width: 475px;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            padding-top: 35px;
            a:hover,
            a:focus {
                border-bottom: 5px solid $primary;
            }
        }
    }
}

h1 {
    width: 50%;
    padding-top: 14px;
    margin-left: 134px;
}

/* blog header */

.blogHeader {
    background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
    height: clamp(50px, 568 / 1600 * 100vw, 568px);
    .flexContainer {
        justify-content: space-between;
        h2 {
            width: 100%;
        }
    }
    h1 {
        margin-left: 0;
        border: 1px solid goldenrod;
    }
}

/* contact header */
.contactHeader {
    background-image: url(../sanctuary-helpers-final-images/contact-image.jpg);
    height: clamp(50px, 576 / 1600 * 100vw, 576px);
    .flexContainer {
        justify-content: space-between;
        h2 {
            width: 100%;
        }
    }
    h1 {
        width: 100%;
        margin-top: 150px;
        margin-left: 0;
        border: 1px solid goldenrod;
    }
}