/* _header.scss */
// .wrapper {border:1px solid red}
header {
    background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: calc(755 / 1600 * 100vw);
    background-size: cover;
    position: relative;
    .flexContainer {
        justify-content: end;
        h3 {
            display: none;
            padding-top: 20px;
        }
    }
    .headerBGContainer {
        background-image: url(../sanctuary-helpers-final-images/header-box.png);
        background-repeat: no-repeat;
        width: 55vw;
    height: calc(616 / 1600 * 100vw);
    background-size: cover;
    position: absolute;
    top: calc(297 / 1600 * 100vw);
    }
}

.mainNav {
    width: 40%;
    min-width: 475px;
    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        li {
            a:hover,
            a:focus {
                border-bottom: 5px solid $primary;
            }
        }
    }
}

.mobileNav {
    padding-top: 0px;
    display: none;
    label {
        padding: 0 48.75px;
    }
    li {
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.4); 
        a:hover,
        a:focus {
            border-bottom: 5px solid $primary;
        }
    }
    .dropdownMenu {
        display: none;
    }
    [type=checkbox] {
        opacity: 0;
        display: absolute;
        &:checked ~ .dropdownMenu {
            display: block;
        }
    }
}

h1 {
    width: 50%;
    padding-top: 14px;
    margin-left: 134px;
}

/* blog header */

.blogHeader {
    background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
    height: calc(568 / 1600 * 100vw);
    .flexContainer {
        justify-content: space-between;
        h3 {
            display: block;
        }
    }
    h1 {
        margin-left: 0;
    }
}

/* contact header */
.contactHeader {
    background-image: url(../sanctuary-helpers-final-images/contact-image.jpg);
    height: calc(576 / 1600 * 100vw);
    // height: 576px;
    .flexContainer {
        justify-content: space-between;
        h3 {
            display: block;
        }
    }
    h1 {
        width: 100%;
        margin-top: 150px;
        margin-left: 0;
    }
}