/* _header.scss */
$test: 1px solid red;
header {
    background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    // background-size: 100%;
    .imgContainer {
        width: 55%;
    }
}

nav {
    width: 100%;
    display: flex;
    justify-content: end;
    ul {
        display: flex;
        justify-content: space-between;
        width: 475px; 
        li {
            padding-top: 35px;
        }
    }
}

h1 {
    width: 50%;
    padding-top: 14px;
    margin-left: 134px;
}