/* _mediaQueries.scss */

@media (max-width: 1350px) { 
    /* header */
    header {
        .flexContainer {
            justify-content: space-between;
            h3 {
                display: block;
            }
        }
        h1 {
            display: none;
        }
    }

    /* more */
    .more .flexContainer .flexContainer {
        width: 100%;
    }

    /* group and locations */
    .group, .locations {
        padding: 50px 0;
        .wrapper {
            flex-direction: column;
            .imgContainer,
            .flexContainer {
                width: 100%;
            }
            .imgContainer {
                position: static;
            }
            .textContainer {
                width: 100%;
                padding-top: 50px;
            }
        }
    }

    .locations {
        .wrapper .flexContainer {
            order: 2;
        }
        .textContainer {
            text-align: left;
        }
    }
}




@media (max-width: 1000px) {
    header {
        .mainNav {
            display: none;
        }
        .mobileNav {
            display: block;
        }
    }


/* discovering */
.discovering {
    .flexContainer {
        display: block;

        .textContainer {
            width: 100%;
        }
        .imgContainer {
            display: none;
        }
    }
}


/* gallery */
    .gallery {
        .flexContainer {
            .imgContainer {
                width: 45%;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .gallery {
        .flexContainer {
            flex-direction: column;
            .imgContainer {
                width: 100%;
                padding: 30px;
                &:last-child {
                    display: block;
                }
            }
        }
    }
}