/* _mediaQueries.scss */

@media (max-width: 1350px) { 
    /* header */
    header {
        .flexContainer {
            justify-content: space-between;
            h3 {
                display: block;
            }
        }
        h1 {
            display: none;
        }
    }

    /* more */
    .more .flexContainer .flexContainer {
        width: 100%;
    }

    /* group and locations */
    .group, .locations {
        padding: 50px 0;
        .wrapper {
            flex-direction: column;
            .imgContainer,
            .flexContainer {
                width: 100%;
            }
            .imgContainer {
                position: static;
            }
            .textContainer {
                width: 100%;
                padding-top: 50px;
            }
        }
    }

    .locations {
        .wrapper .flexContainer {
            order: 2;
        }
        .textContainer {
            text-align: left;
        }
    }


    /* blong */
    .blog {
        flex-direction: column;
        padding-bottom: 50px;
        .blogMainBar {
            width: 77%;
            margin: 0 auto;
            position: static;
            .textContainer {
                padding: 40px 10vw;
                
            }
        }
        .blogSidebar {
            background-color: $primary;
            width: 77%;
            margin: 0 auto;
            .boxShadow {
                position: static;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 20px 0 $primary;
                .imgContainer {
                    width: 100%;
                    padding-right: 40px;
                }

            }
            .textContainer {
                display: flex;
                .ourMission, .recentPost {
                    width: 50%;

                }
            }
            
        }
        
        /* comments */
        .comments {
            .commentsContainer {
                width: 100%;
            }
        }
        
        /* postComment */
        .postComment {
            form {
                width: 100%;
            }
        }
    }
    
    
    
    
    /* contact */
    .sendMessage {
        >.flexContainer {
            flex-direction: column;
            .contactInfo {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-top: 0;
                margin-bottom: 20px;
            }
        }
    }
}




@media (max-width: 1000px) {
    header {
        .mainNav {
            display: none;
        }
        .mobileNav {
            display: block;
        }
    }


/* discovering */
    .discovering {
        .flexContainer {
            display: block;

            .textContainer {
                width: 100%;
            }
            .imgContainer {
                display: none;
            }
        }
    }


/* gallery */
    .gallery {
        .flexContainer {
            .imgContainer {
                width: 45%;
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .blog {
        .blogSidebar {
            .boxShadow {
                .imgContainer {
                    padding: 0 20px;
                }
            }
            .textContainer  {
                display: block;
                .ourMission, .recentPost {
                    width: 100%;
                }
            }
        }
    }


     /* contact */
    .sendMessage {
        .flexContainer {
            flex-direction: column;
            padding-top: 50px;
            form {
                position: static;
                input {
                    width: 100%;
                }
            }
        .contactInfo {
            padding-top: 50px;
        }
        }
    }
}


@media (max-width: 800px) {
    .blog {
        .blogSidebar {
            .boxShadow {
                flex-direction: column;
                .imgContainer {
                    padding: 30px 10vw 0 10vw;
                }
            }
            .textContainer  {
                padding-left: 20px;
            }
        }
    }


    /* contact */
    .sendMessage {
        .flexContainer {
        .contactInfo {
            flex-direction: column;
        }
    }
    }
}








@media (max-width: 500px) {
    .gallery {
        .flexContainer {
            flex-direction: column;
            .imgContainer {
                width: 100%;
                padding: 30px;
                &:last-child {
                    display: block;
                }
            }
        }
    }
}