/* _mediaQueries.scss */

@media (max-width: 1350px) { 
    header {
        .flexContainer {
            justify-content: space-between;
            h3 {
                display: block;
            }
        }
        h1 {
            display: none;
        }
    }







    
}