/* main */
/* _sections.scss */

/* discovering */
.discovering {
    padding: calc(12.5vw) 0 118px 0;
    .flexContainer {
        justify-content: space-between;
    }
    .textContainer {
        width: 62%;
    }
    .imgContainer {
        width: 35%;
        .boxShadow {
            box-shadow: -20px 20px $primary;
        }
    }
    .button:hover,
    .button:focus {
        background-color: $solidWhite;
    }
}


/* gallery */
.gallery {
    background-color: $tertiary;
    .flexContainer {
        justify-content: space-between;
        .imgContainer {
            padding: 100px 0;
            width: 31%;
        }
    }
}


/* more */
.more {
    padding: 80px 0;
    .flexContainer {
        flex-wrap: wrap;
        .flexContainer {
            flex-wrap: nowrap;
            width: 50%;
            padding: 15px 0;
        }
    }
    .fa-stack {
        color: $primary;
        .fa-stack-1x {
            color: $solidBlack;
        }
    }
    a {
        text-align: left;
        h2 {
            padding-top: 16px;
            border-bottom: 5px solid transparent;
        }
        &:hover h2,
        &:focus h2 {
            border-bottom: 5px solid $primary;
        }
    }
}


/* group and locations */
.group, .locations {
    background-color: $tertiary;
    .wrapper {
        .imgContainer,
        .flexContainer {
            width: 50%;
        }
        .flexContainer {
            justify-content: center;
        }
    }
    .textContainer {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgContainer {
        position: relative;
        

    }
}

.group {
    .flexContainer {
        justify-content: end;
        .imgContainer {
            top: -50px;
            left: -50px;
            .boxShadow{
            box-shadow: 20px 20px $primary;
            }
        }
    }
}

.locations {
    .imgContainer {
        top: 50px;
        right: -50px;
        .boxShadow{
            box-shadow: -20px 20px $primary;
        }
    }
    .textContainer {
        text-align: right;
    }
}

/* style */
.style {
    .flexContainer {
        justify-content: center;
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 170px 0;
    }
    .button:hover,
    .button:focus {
        background-color: $solidWhite;
    }
}


/* blog */
.blogMain {
    background-color: $tertiary;
}

.blogMainBar {
    width: 60vw;
    position: relative;
    top: -150px;
    .imgContainer {
        position: relative;
        top: 30px;
        box-shadow: 10 10 $primary;
        box-shadow: 20px 20px $primary;
        margin-bottom: 25px;

    }
    .textContainer {
        background-color: $solidWhite;
        padding: 50px 0 0 184px;
        box-shadow: 10px 20px 0 10px $primary;
        p {
            padding-bottom: 32px;
        }
    }
}

.blogSidebar {
    width: 40vw;
    position: relative;
    .boxShadow {
        width: 60%;
        box-shadow: -20px 40px 0 20px $primary;
        position: absolute;
        top: 150px;
        right: 0;
        > div {
            background-color: $primary;
            > div {
                padding: 20px 30px 20px 0px;
            }
        }
    }
    ul {
        list-style: outside;
        padding-left: 25px;
        li {
            padding-left: 15px;
        }
    }
    a {
        font-weight: 400;
        text-transform: none;
    }
    a:hover,
    a:focus {
        font-weight: 700;
        text-transform: uppercase;
    }
}


/* comments */
.comments {
    .commentsContainer {
        width: 60%;
        padding: 50px 0;
    }
    .imgContainer {
        width: 15%;
    }
    .textContainer {
        width: 85%;
        padding: 0 5%;
        p:first-child {
            font-weight: 700;
        }
    }
}


/* postComment */
.postComment {
    padding-bottom: 100px;
    form {
        width: 60%;
        &.flexContainer {
            flex-direction: column;
            .flexContainer{
                justify-content: space-between;
            }
        }
        input,
        textarea {
            padding: 35px 10px 35px 50px;
            margin-bottom: 40px;
            background-color: $tertiary;
        }
    }
}


/* sendMessage */
.sendMessage {
    background-color: $tertiary;
    form {
        width: 100%;
        background-color: $solidWhite;
        padding: 50px 75px;
        box-shadow: 20px 20px $primary;
        position: relative;
        top: -160px;;
        &.flexContainer {
            flex-direction: column;
            .flexContainer{
                justify-content: space-between;
            }
        }
        input,
        textarea {
            padding: 35px 10px 35px 50px;
            margin-bottom: 40px;
        }
    }
    .button:hover,
    .button:focus {
        background-color: $solidWhite;
    }
    .contactInfo {
        width: 50%;
        flex-direction: column;
        align-items: end;
        padding-top: 100px;
        .socialIcon {
            width: 252px
        }
        i {
            color: $secondary;
            padding-right: 10px;
        }
        i:hover,
        i:focus {
            transform: scale(2);
        }
        > p {
            padding: 15px 0;
            width: 252px
        }
    }
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
        outline: none;
        border: 2px dotted $secondary;
        font-weight: 700;
    }
}