/* main */
/* _sections.scss */
.wrapper {border: 1px solid red;}
/* discovering */
.discovering {
    padding: 74px 0 118px 0;
    .flexContainer {
        justify-content: space-between;
    }
    .textContainer {
        width: 65%;
    }
    .imgContainer {
        box-shadow: -15px 15px $primary;
    }
}


/* gallery */
.gallery {
    background-color: $tertiary;
    padding: 100px 0;
    .flexContainer {
        justify-content: space-between;
        .imgContainer {
            width: 31%;
        }
    }
}


/* more */
.more {
    .flexContainer {
        flex-wrap: wrap;
        .flexContainer {
            flex-wrap: nowrap;
            width: 50%;
        }
    }
    .icon {
        width: 50%;
        i {
            background-color: $primary;
            border-radius: 50%;
            padding: 10px;
        }
    }
}


/* group and locations */
.group, .locations {
    display: flex;
    .imgContainer,
    .textContainer {
        width: 50%;
    }
}

/* style */
.style {
    text-align: center;
}

/* footer */
footer {
    background-color: $solidBlack;
    text-align: center;
    p {
        color: $solidWhite;
    }
}
