/* main */
/* _sections.scss */

/* discovering */
.discovering {
    padding: 74px 0 118px 0;
    .flexContainer {
        justify-content: space-between;
    }
    .textContainer {
        width: 65%;
    }
    .imgContainer {
        .boxShadow {
            box-shadow: -20px 20px $primary;
        }
    }
}


/* gallery */
.gallery {
    background-color: $tertiary;
    padding: 100px 0;
    .flexContainer {
        justify-content: space-between;
        .imgContainer {
            width: 31%;
        }
    }
}


/* more */
.more {
    padding: 80px 0;
    .flexContainer {
        flex-wrap: wrap;
        .flexContainer {
            flex-wrap: nowrap;
            width: 50%;
            padding: 15px 0;
        }
    }
    .icon {
        padding: 5px 20px 0px 10px;
        i {
            background-color: $primary;
            border-radius: 100px;
            padding: 15px;
        }
    }
    a {
        text-align: left;
        h2 {
            border-bottom: 5px solid transparent;
        }
        &:hover h2,
        &:focus h2 {
            border-bottom: 5px solid $primary;
        }
    }
}


/* group and locations */
.group, .locations {
    background-color: $tertiary;
    .wrapper {
        position: relative;
        .imgContainer,
        .flexContainer {
            width: 50%;
        }
        .flexContainer {
            justify-content: center;
        }
    }
    .textContainer {
        width: 65%;
        height: clamp(100px, 437.13 / 1818.18 * 100vw, 437.13px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imgContainer {
        position: absolute;
    }
}

.group {
    .flexContainer {
        justify-content: end;
        .imgContainer {
            top: -8%;
            left: -8%;
            box-shadow: 20px 20px $primary;
        }
    }
}

.locations {
    .imgContainer {
        top: 8%;
        right: -8%;
        box-shadow: -20px 20px $primary;
    }
    .textContainer {
        text-align: right;
    }
}

/* style */
.style {
    .flexContainer {
        justify-content: center;
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 170px 0;
    }

}

/* blog */
.blogMain {
    background-color: $tertiary;
}
.blog {
        height: 1550px;
        position: relative;
}
.blogMainBar {
    width: 960px;
    position: absolute;
    top: -150px;
    .imgContainer {
        box-shadow: 10 10 $primary;
        box-shadow: -20px 20px $primary, 20px 20px $primary;
        margin-bottom: 25px;

    }
    .textContainer {
        background-color: $solidWhite;
        padding-left: 184px;
        box-shadow: 20px 10px $primary, 20px -20px $primary, -20px 10px $primary;
        p {
            padding-bottom: 32px;
        }
    }
}

.blogSidebar {
    width: 100%;
    position: relative;
    .boxShadow {
        width: 26%;
        box-shadow: -20px 20px $primary, 20px 20px $primary;
        position: absolute;
        top: 150px;
        right: 0;
        > div {
            background-color: $primary;
            > div {
                padding: 20px 30px 20px 0px;
            }
        }
    }
    ul {
        list-style: outside;
        padding-left: 25px;
        li {
            padding-left: 15px;
            a {
                font-weight: 400;
            }
        }
    }
}


/* comments */
.comments {
    .commentsContainer {
        width: 60%;
        padding: 50px 0;
    }
    .imgContainer {
        width: 15%;
    }
    .textContainer {
        width: 85%;
        padding: 0 5%;
        p:first-child {
            font-weight: 700;
        }
    }
}

/* postComment */
.postComment {
    padding-bottom: 100px;
    form {
        width: 60%;
        &.flexContainer {
            flex-direction: column;
            .flexContainer{
                justify-content: space-between;
            }
        }
        input,
        textarea {
            padding: 35px 10px 35px 50px;
            margin-bottom: 40px;
            background-color: $tertiary;
        }
    }
}

/* sendMessage */
.sendMessage {
    background-color: $tertiary;
    position: relative;
    form {
        width: 1100px;
        background-color: $solidWhite;
        padding: 50px 75px;
        box-shadow: 20px 20px $primary;
        position: absolute;
        left: -1000px;
        &.flexContainer {
            flex-direction: column;
            .flexContainer{
                justify-content: space-between;
            }
        }
        input,
        textarea {
            padding: 35px 10px 35px 50px;
            margin-bottom: 40px;
        }
    }
    .fullWidth {
        width: 100%;
        height: 600px;
    }
    .contactInfo {
        float: right;
        padding-top: 100px;
        i {
            color: $secondary;
            padding-right: 5px;
        }
    }
}



/* footer */
footer {
    background-color: $solidBlack;
    text-align: center;
    p {
        color: $solidWhite;
        padding: 5px 0;
    }
}
