// _variables.scss

// site fonts
$headingFont: "Yong Serif";
$bodyFont: "Jakarta Sans";
// if we set our root element font-size to 125%, then 1 rem = 20px
$baseFontSize: 1rem;

// site colors
$primary: #084b6d; 
$secondary: #f4fcff; 
$tertiary: #f8fbf3; 
$quaternary: #fff5f5; 
$quinary: #ffd698; 
$pastelBlue: #d3f0f9;
$solidWhite: #fff; 