// _variables.scss

// site fonts
// font-family: 'Kumar One', cursive;
// font-family: 'Kumar One Outline', cursive;
// font-family: 'Lato', sans-serif;
$headFont: 'Kumar One Outline', cursive;
$headingFont: 'Kumar One', cursive;
$bodyFont: 'Lato', sans-serif;
// if we set our root element font-size to 125%, then 1 rem = 20px
$baseFontSize: 1rem;

// site colors
$primary: #f8fb05; 
$secondary: #065635; 
$tertiary: #e0fddf; 
$solidWhite: #fff; 
$solidBlack: #000;