@import './partials/setup';
@import './partials/variables';
@import './partials/typography';
@import './partials/baseStyles';
@import './partials/header';
@import './partials/sections';
@import './partials/footer';
@import './partials/mediaQueries'