/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _typography.scss */
h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 64px;
  text-transform: uppercase;
}

h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

i {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 1.2px;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  color: #000;
  text-transform: uppercase;
}

.button {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}

/* _baseStyles.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 77%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: #065635;
  display: inline-block;
  margin: 20px 0;
  padding: 11px 22px 5px 22px;
}

.newLine {
  display: block;
}

/* _header.scss */
.wrapper {
  border: 1px solid red;
}

header {
  background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: clamp(50px, 755 / 1600 * 100vw, 755px);
  background-size: cover;
}
header .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .imgContainer {
  width: 55%;
}

nav {
  width: 40%;
  min-width: 475px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li {
  padding-top: 35px;
}
nav ul li a:hover,
nav ul li a:focus {
  border-bottom: 5px solid #f8fb05;
}

h1 {
  width: 50%;
  padding-top: 14px;
  margin-left: 134px;
}

/* blog header */
.blogHeader {
  background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
  height: clamp(50px, 568 / 1600 * 100vw, 568px);
}
.blogHeader h2 {
  width: 100%;
}
.blogHeader h1 {
  width: 50%;
  margin-left: 0;
  border: 1px solid goldenrod;
}

/* main */
/* _sections.scss */
/* discovering */
.discovering {
  padding: 74px 0 118px 0;
}
.discovering .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discovering .textContainer {
  width: 65%;
}
.discovering .imgContainer .boxShadow {
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

/* gallery */
.gallery {
  background-color: #e0fddf;
  padding: 100px 0;
}
.gallery .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .flexContainer .imgContainer {
  width: 31%;
}

/* more */
.more {
  padding: 80px 0;
}
.more .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.more .flexContainer .flexContainer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
  padding: 15px 0;
}
.more .icon {
  padding: 5px 20px 0px 10px;
}
.more .icon i {
  background-color: #f8fb05;
  border-radius: 50%;
  padding: 15px;
}
.more a {
  text-align: left;
}
.more a h2 {
  border-bottom: 5px solid transparent;
}
.more a:hover h2, .more a:focus h2 {
  border-bottom: 5px solid #f8fb05;
}

/* group and locations */
.group, .locations {
  background-color: #e0fddf;
}
.group .wrapper, .locations .wrapper {
  position: relative;
}
.group .wrapper .imgContainer,
.group .wrapper .flexContainer, .locations .wrapper .imgContainer,
.locations .wrapper .flexContainer {
  width: 50%;
}
.group .wrapper .flexContainer, .locations .wrapper .flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group .textContainer, .locations .textContainer {
  width: 65%;
  height: clamp(100px, 437.13 / 1818.18 * 100vw, 437.13px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group .imgContainer, .locations .imgContainer {
  position: absolute;
}

.group .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.group .flexContainer .imgContainer {
  top: -8%;
  left: -8%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.locations .imgContainer {
  top: 8%;
  right: -8%;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}
.locations .textContainer {
  text-align: right;
}

/* style */
.style .flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.style .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 170px 0;
}

/* blog */
.blogMain {
  background-color: #e0fddf;
}

.blogMainBar {
  width: 60%;
}
.blogMainBar .textContainer {
  background-color: #fff;
  padding-left: 184px;
}
.blogMainBar .textContainer p {
  padding-bottom: 32px;
}

.blogSidebar {
  width: 40%;
}

/* comments */
.comments .commentsContainer {
  width: 60%;
  padding: 50px 0;
  border: 2px solid brown;
}
.comments .imgContainer {
  width: 15%;
}
.comments .textContainer {
  width: 85%;
  padding: 0 5%;
}
.comments .textContainer p:first-child {
  font-weight: 700;
}

/* footer */
footer {
  background-color: #000;
  text-align: center;
}
footer p {
  color: #fff;
  padding: 5px 0;
}

/* _footer.scss */
/* _mediaQueries.scss */