/* _setup.scss */
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* _typography.scss */
h1 {
  font-family: "Kumar One Outline", cursive;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

h3 {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
  color: #000;
  text-transform: uppercase;
}

.button {
  font-family: "Kumar One", cursive;
  font-weight: 400;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

i {
  font-size: 1.5rem;
}

/* _baseStyles.scss */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1400px;
  width: 77%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: #065635;
  display: inline-block;
  margin: 20px 0;
  padding: 11px 22px 5px 22px;
}

.newLine {
  display: block;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #000;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input::placeholder, textarea::placeholder {
  color: #000;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input {
  width: 47.5%;
  border: none;
  border-bottom: 2px solid #065635;
}

textarea {
  border: 2px solid #065635;
}

button {
  border: none;
}

/* _header.scss */
header {
  background-image: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(755 / 1600 * 100vw);
  background-size: cover;
  position: relative;
}
header .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .flexContainer h3 {
  display: none;
  padding-top: 20px;
}
header .headerBGContainer {
  background-image: url(../sanctuary-helpers-final-images/header-box.png);
  background-repeat: no-repeat;
  width: 55vw;
  height: calc(616 / 1600 * 100vw);
  background-size: cover;
  position: absolute;
  top: calc(297 / 1600 * 100vw);
}

.mainNav {
  width: 40%;
  min-width: 475px;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
}
.mainNav ul li a:hover,
.mainNav ul li a:focus {
  border-bottom: 5px solid #f8fb05;
}

.mobileNav {
  padding-top: 0px;
  display: none;
}
.mobileNav label {
  padding: 0 48.75px;
}
.mobileNav li {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.mobileNav li a:hover,
.mobileNav li a:focus {
  border-bottom: 5px solid #f8fb05;
}
.mobileNav .dropdownMenu {
  display: none;
}
.mobileNav [type=checkbox] {
  opacity: 0;
  display: absolute;
}
.mobileNav [type=checkbox]:checked ~ .dropdownMenu {
  display: block;
}

h1 {
  width: 50%;
  padding-top: 14px;
  margin-left: 134px;
}

/* blog header */
.blogHeader {
  background-image: url(../sanctuary-helpers-final-images/blog-image.jpg);
  height: calc(568 / 1600 * 100vw);
}
.blogHeader .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogHeader .flexContainer h3 {
  display: block;
}
.blogHeader h1 {
  margin-left: 0;
}

/* contact header */
.contactHeader {
  background-image: url(../sanctuary-helpers-final-images/contact-image.jpg);
  height: calc(576 / 1600 * 100vw);
}
.contactHeader .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactHeader .flexContainer h3 {
  display: block;
}
.contactHeader h1 {
  width: 100%;
  margin-top: 150px;
  margin-left: 0;
}

/* main */
/* _sections.scss */
/* discovering */
.discovering {
  padding: calc(12.5vw) 0 118px 0;
}
.discovering .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discovering .textContainer {
  width: 62%;
}
.discovering .imgContainer {
  width: 35%;
}
.discovering .imgContainer .boxShadow {
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

/* gallery */
.gallery {
  background-color: #e0fddf;
  padding: 100px 0;
}
.gallery .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .flexContainer .imgContainer {
  width: 31%;
}

/* more */
.more {
  padding: 80px 0;
}
.more .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.more .flexContainer .flexContainer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
  padding: 15px 0;
}
.more .icon {
  padding: 5px 20px 0px 10px;
  text-align: center;
}
.more .icon i {
  background-color: #f8fb05;
  border-radius: 100px;
  padding: 20px;
  width: 70px;
  height: 70px;
}
.more a {
  text-align: left;
  position: relative;
}
.more a h2 {
  padding-top: 12px;
  border-bottom: 5px solid transparent;
}
.more a:hover h2, .more a:focus h2 {
  border-bottom: 5px solid #f8fb05;
}

/* group and locations */
.group, .locations {
  background-color: #e0fddf;
}
.group .wrapper .imgContainer,
.group .wrapper .flexContainer, .locations .wrapper .imgContainer,
.locations .wrapper .flexContainer {
  width: 50%;
}
.group .wrapper .flexContainer, .locations .wrapper .flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group .textContainer, .locations .textContainer {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group .imgContainer, .locations .imgContainer {
  position: relative;
}

.group .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.group .flexContainer .imgContainer {
  top: -50px;
  left: -50px;
}
.group .flexContainer .imgContainer .boxShadow {
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.locations .imgContainer {
  top: 50px;
  right: -50px;
}
.locations .imgContainer .boxShadow {
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}
.locations .textContainer {
  text-align: right;
}

/* style */
.style .flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.style .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 170px 0;
}

/* blog */
.blogMain {
  background-color: #e0fddf;
}

.blog {
  height: 1550px;
  position: relative;
}

.blogMainBar {
  width: 960px;
  position: absolute;
  top: -150px;
}
.blogMainBar .imgContainer {
  -webkit-box-shadow: 10 10 #f8fb05;
          box-shadow: 10 10 #f8fb05;
  -webkit-box-shadow: -20px 20px #f8fb05, 20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05, 20px 20px #f8fb05;
  margin-bottom: 25px;
}
.blogMainBar .textContainer {
  background-color: #fff;
  padding-left: 184px;
  -webkit-box-shadow: 20px 10px #f8fb05, 20px -20px #f8fb05, -20px 10px #f8fb05;
          box-shadow: 20px 10px #f8fb05, 20px -20px #f8fb05, -20px 10px #f8fb05;
}
.blogMainBar .textContainer p {
  padding-bottom: 32px;
}

.blogSidebar {
  width: 100%;
  position: relative;
}
.blogSidebar .boxShadow {
  width: 26%;
  -webkit-box-shadow: -20px 20px #f8fb05, 20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05, 20px 20px #f8fb05;
  position: absolute;
  top: 150px;
  right: 0;
}
.blogSidebar .boxShadow > div {
  background-color: #f8fb05;
}
.blogSidebar .boxShadow > div > div {
  padding: 20px 30px 20px 0px;
}
.blogSidebar ul {
  list-style: outside;
  padding-left: 25px;
}
.blogSidebar ul li {
  padding-left: 15px;
}
.blogSidebar ul li a {
  font-weight: 400;
}

/* comments */
.comments .commentsContainer {
  width: 60%;
  padding: 50px 0;
}
.comments .imgContainer {
  width: 15%;
}
.comments .textContainer {
  width: 85%;
  padding: 0 5%;
}
.comments .textContainer p:first-child {
  font-weight: 700;
}

/* postComment */
.postComment {
  padding-bottom: 100px;
}
.postComment form {
  width: 60%;
}
.postComment form.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.postComment form.flexContainer .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.postComment form input,
.postComment form textarea {
  padding: 35px 10px 35px 50px;
  margin-bottom: 40px;
  background-color: #e0fddf;
}

/* sendMessage */
.sendMessage {
  background-color: #e0fddf;
  position: relative;
}
.sendMessage form {
  width: 875px;
  background-color: #fff;
  padding: 50px 75px;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
  position: absolute;
  top: -160px;
}
.sendMessage form.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sendMessage form.flexContainer .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sendMessage form input,
.sendMessage form textarea {
  padding: 35px 10px 35px 50px;
  margin-bottom: 40px;
}
.sendMessage .fullWidth {
  width: 100%;
  height: 500px;
}
.sendMessage .contactInfo {
  float: right;
  padding-top: 100px;
}
.sendMessage .contactInfo i {
  color: #065635;
  padding-right: 10px;
}
.sendMessage .contactInfo > p {
  padding: 15px 0;
}

/* footer */
footer {
  background-color: #000;
  text-align: center;
}
footer p {
  color: #fff;
  padding: 5px 0;
}

/* _footer.scss */
/* _mediaQueries.scss */
@media (max-width: 1350px) {
  /* header */
  header .flexContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .flexContainer h3 {
    display: block;
  }
  header h1 {
    display: none;
  }

  /* more */
  .more .flexContainer .flexContainer {
    width: 100%;
  }

  /* group and locations */
  .group, .locations {
    padding: 50px 0;
  }
  .group .wrapper, .locations .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group .wrapper .imgContainer,
.group .wrapper .flexContainer, .locations .wrapper .imgContainer,
.locations .wrapper .flexContainer {
    width: 100%;
  }
  .group .wrapper .imgContainer, .locations .wrapper .imgContainer {
    position: static;
  }
  .group .wrapper .textContainer, .locations .wrapper .textContainer {
    width: 100%;
    padding-top: 50px;
  }

  .locations .wrapper .flexContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .locations .textContainer {
    text-align: left;
  }
}
@media (max-width: 1000px) {
  .header .mainNav {
    display: none;
  }
  .header .mobileNav {
    display: block;
  }
}
/* discovering */
.discovering .flexContainer {
  display: block;
}
.discovering .flexContainer .textContainer {
  width: 100%;
}
.discovering .flexContainer .imgContainer {
  display: none;
}

/* gallery */
.gallery .imgContainer {
  width: 100%;
}
.gallery .imgContainer:last-child {
  display: none;
}